<div class="header">
  <div class="logo">
<a href="http://localhost:3000/"> <%= image_tag("maze_logo.svg") %> <h1>Maze</h1></a> </div>

  <div class="search">
    <label>
      <input type="text" placeholder="Search">
    </label>
    <div class="profile">
      <%= image_tag("Rectangle 14.png") %>
    </div>
    <div class="name">
      <%= current_user.first_name %>
      <%= current_user.last_name %>
      <% if current_user.has_role? :admin %>
        <div class="role">
          <%= current_user.roles.pluck("name")[0] %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="bbody">
    <% if current_user.has_role? :admin %>
    <div class="sidebar">
      <div class="icon1">
        <a href="http://localhost:3000/"> <%= image_tag("images.png") %></a>
        <a href="http://localhost:3000/">Feed</a>
      </div>
      <div class="icon2">
        <%= image_tag("Vector (11).png") %>
        <%= link_to "Profile", user_profile_path %>
      </div>
      <div class="icon3">
        <%= image_tag("1034785-200.png") %>
        <%= link_to "Manage User", user_index_path %>
      </div>
        <div class="icon4">
        <%= image_tag("download (1).png") %>
        <%= link_to "Report", user_reports_path %>
      </div>
      <div class="icon5">
        <%= image_tag("Vector (12).png") %>
        <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%>
      </div>
    </div>
      <%else %>
          <div class="sidebar">
        <div class="icon1">
          <a href="http://localhost:3000/"> <%= image_tag("images.png") %></a>
          <a href="http://localhost:3000/">Feed</a>
        </div>
        <div class="icon2">
          <%= image_tag("Vector (11).png") %>
          <%= link_to "Profile", user_profile_path %>
        </div>
        <div class="icon5">
          <%= image_tag("Vector (12).png") %>
          <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete%>
        </div>
      </div>
<%end %>
    <div class="body6">
      <div class="image2">
      <%= image_tag("Rectangle 14.png") %>
        <%#=link_to "Edit" , edit_user_registration_path %>
        </div>
      <div class="field3">
        <h6>Role</h6>
      <p><%= current_user.roles.pluck("name")[0] %></p>
      </div>
      <div class="field3">
        <h6>First Name</h6>
      <p><%= current_user.first_name %></p>
      </div>
      <div class="field3">
        <h6>Last Name</h6>
        <p><%= current_user.last_name %></p>
      </div>
      <div class="field3">
        <h6>Phone Number</h6>
       <p> <%= current_user.phone_number %></p>
      </div>
      <div class="field3">
        <h6>Email</h6>
        <p><%= current_user.email %></p>
      </div>
    </div>
  </div>

