<!DOCTYPE html>
<html >
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->

  </head>


  <body>
  <% flash.each do |type, msg| %>
    <div class="alert" id="alert" >
      <%= msg %>
    </div>
  <% end %>
<!--  {-->
<!--  <a class="close" data-dismiss="alert">&#215;</a>-->
  <%#= content_tag :div, msg, :id => "flash_#{alert}" %>
<!--}-->

<!--   <script>-->
<!--      setTimeout("$('.alert').fadeOut('slow')", 6000)-->
<!--         // setTimeout(function () {-->
<!--         //     $('.alert').fadeOut();-->
<!--         // }, 3000);-->
<!--   </script>-->
<!--       <p class="notice"><%#= notice %></p>-->
<!--       <p class="alert"><%#= alert %></p>-->
    <%= yield %>

<!--      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->

  </body>
</html>
<!--<script>-->
<!--window.addEventListener("turbolinks:load", () => {-->
<!--  hideNotice();-->
<!--});-->

<!--function hideNotice() {-->
<!--  const notification = document.querySelector("div.alert")-->
<!--  if (notification) {-->
<!--    setInterval(function() {-->
<!--      notification.classList.add('fade');-->
<!--    }, 5000);-->
<!--  }-->
<!--}-->
<!--</script>-->